DB_USER = '' # Usuario de base de datos
DB_HOST = '' # Host de la base de datos
DB_PORT = 0 # Puerto de la base de datos
DB_NAME = '' # Nombre de la base de datos
DB_PASSWORD = '' # Contraseña de la base de datos

REDIS_HOST = '' # Host de Redis
REDIS_PORT = 0 # Puerto de Redis

EXPRESS_PORT = 0 # Puerto en el que se ejecutará la aplicación Express
NODE_ENV = '' # Entorno de ejecución (nombre del nodo)